@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
*, :after, :before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

header, main, footer {
  max-width: 1920px;
  margin: 0 auto; }

.banner_contact {
  background: #f9f9f9;
  max-width: 1920px;
  height: 320px; }

#solid_line {
  border-bottom: 3px solid orange; }

#contact_form_submitBtn {
  background-color: #ee534f;
  width: 170px;
  height: 50px;
  border-radius: 4px; }

#yourName, #yourEmail, #yourNumber {
  width: 150px;
  height: 3em;
  border-radius: 2px;
  border: solid 1px #666666; }

#myForm {
  padding-left: 10%; }

#yourMessage {
  width: 40%; }

.main_contact {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%; }

h2 {
  padding-left: 10%; }

footer {
  font-size: 1.25em;
  background: #f9f9f9;
  padding: 4em 0; }
  footer .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 1240px;
    margin: 0 auto; }
    footer .container .heading {
      color: #555;
      font-weight: 500; }
    footer .container ul {
      padding-left: 1.2em; }
      footer .container ul li {
        list-style-type: square; }
      footer .container ul a {
        text-decoration: none;
        color: #555; }
        footer .container ul a:hover {
          color: #ee534f; }

.copy {
  background: #ee534f;
  color: #fff;
  padding: .5em 0; }
  .copy .container {
    max-width: 1024px;
    margin: 0 auto; }

#home_about_info_contact1 img {
  width: 20px;
  height: 20px; }
#home_about_info_contact1 home_mail, #home_about_info_contact1 .home_location {
  padding-top: 100px; }

nav {
  background: #f9f9f9;
  color: #555;
  font-weight: 500;
  padding: 1em 0; }
  nav .container {
    max-width: 800px;
    margin: auto;
    display: flex; }
  nav ul {
    display: flex;
    width: 100%; }
    nav ul li {
      margin: 0 2em 0 0;
      list-style-type: none; }
  nav input[type=text] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    margin: .75em 0 .75em 10em;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #dedede;
    background: none;
    padding: 0 1em; }
  nav input[type=submit] {
    width: 4em;
    margin: .75em 0;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #dedede;
    border-left: none;
    background: none;
    padding: 0 1em; }

footer {
  font-size: 1.25em;
  background: #f9f9f9;
  padding: 4em 0; }
  footer .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 1240px;
    margin: 0 auto; }
    footer .container .heading {
      color: #555;
      font-weight: 500; }
    footer .container ul {
      padding-left: 1.2em; }
      footer .container ul li {
        list-style-type: square; }
      footer .container ul a {
        text-decoration: none;
        color: #555; }
        footer .container ul a:hover {
          color: #ee534f; }

.copy {
  background: #ee534f;
  color: #fff;
  padding: .5em 0; }
  .copy .container {
    max-width: 1024px;
    margin: 0 auto; }

footer {
  font-size: 1.25em;
  background: #f9f9f9;
  padding: 4em 0; }
  footer .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 1240px;
    margin: 0 auto; }
    footer .container .heading {
      color: #555;
      font-weight: 500; }
    footer .container ul {
      padding-left: 1.2em; }
      footer .container ul li {
        list-style-type: square; }
      footer .container ul a {
        text-decoration: none;
        color: #555; }
        footer .container ul a:hover {
          color: #ee534f; }

.copy {
  background: #ee534f;
  color: #fff;
  padding: .5em 0; }
  .copy .container {
    max-width: 1024px;
    margin: 0 auto; }

button {
  padding: 1em 2em;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 .35em; }

.banner_home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: url("../images/code4ct_homepage.jpg") #00000088;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh; }
  .banner_home button {
    color: #fff; }
  .banner_home .container {
    max-width: 900px;
    text-align: center;
    padding: 0; }
    .banner_home .container h1 {
      font-size: 3.5em;
      color: #fff; }
    .banner_home .container p {
      padding: 0 4em;
      color: #fff;
      font-size: 1.25em; }
  .banner_home .call {
    margin: 1em auto; }
    .banner_home .call .primary {
      background: #ee534f;
      border-color: #ee534f; }

.info {
  font-size: 1.2em;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5em 0; }
  .info .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em; }
  .info .sub {
    font-weight: 500; }
  .info .print {
    color: #666; }
  .info button {
    font-size: 1em;
    border-color: #ddd;
    color: #666; }
  .info .description {
    margin-bottom: 5em; }

.figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }
  .figures .figure_1 {
    background-image: url("../images/info_img1.jpg");
    background-size: cover; }
  .figures .figure_2 {
    background-image: url("../images/info_img2.jpg");
    background-size: cover; }
  .figures .figure_3 {
    background-image: url("../images/info_img3.jpg");
    background-size: cover; }
  .figures .figure_4 {
    background-image: url("../images/info_img4.jpg");
    background-size: cover; }
  .figures .exciting_1 {
    background-image: url("../images/portfolio_img1.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_2 {
    background-image: url("../images/portfolio_img2.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_3 {
    background-image: url("../images/portfolio_img3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%; }
  .figures .exciting_4 {
    background-image: url("../images/portfolio_img4.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_5 {
    background-image: url("../images/portfolio_img5.jpg");
    background-size: cover; }

.rect {
  background: #000;
  color: #fff;
  padding: 7em 0; }
  .rect .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center; }
    .rect .container img {
      width: 3em; }

.team_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em; }
  .team_grid div {
    width: 100%;
    min-height: 200px;
    height: 100%; }
  .team_grid .face {
    background: #666; }
  .team_grid .tag {
    font-size: .9em; }
    .team_grid .tag h2, .team_grid .tag h3 {
      font-size: 1.25em;
      margin: 0; }
    .team_grid .tag h3 {
      font-size: 1.2em;
      color: #666;
      font-weight: 400; }
    .team_grid .tag hr {
      border: none;
      height: 1px;
      background: #ddd; }
    .team_grid .tag p {
      margin: .5em auto;
      color: #666; }

.subscribe {
  text-align: center;
  padding: 5em 0; }
  .subscribe input[type=text] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    background: #f9f9f9;
    padding: .5em 1em; }
  .subscribe input[type=submit] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    border-left: none;
    background: #ee534f;
    padding: .5em 1em; }

/*# sourceMappingURL=main.css.map */
