@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
#welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10%; }

.welcome_right {
  background-image: url("../images/portfolio_img19.jpg");
  background-size: cover;
  height: 40vh;
  margin-right: 30%;
  margin-top: 10%; }

.welcome_left {
  text-align: left;
  margin-left: 33%; }

.welcome_head {
  margin: 0; }

.about_btn {
  background-color: #ee534f; }

#about_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%; }

.about_left {
  background-image: url("../images/about_img1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh; }

.about_right {
  margin-left: 10%; }
  .about_right h2 {
    margin: 0; }

.about_head {
  margin-top: 10%; }

.meet_team {
  margin-top: 10%;
  margin-left: 20%; }

.team_grid {
  margin-left: 20%;
  margin-right: 20%; }

*, :after, :before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

header, main, footer {
  max-width: 1920px;
  margin: 0 auto; }

.banner_contact {
  background: #f9f9f9;
  max-width: 1920px;
  height: 320px;
  padding: 100px; }

#solid_line {
  border-bottom: 3px solid orange; }

#contact_form_submitBtn {
  background-color: #ee534f;
  width: 170px;
  height: 50px;
  border-radius: 4px; }

#yourName, #yourEmail, #yourNumber {
  width: 220px;
  height: 3em;
  border-radius: 2px;
  margin-top: 40px;
  border: solid 1px #666666; }

#myForm {
  padding-left: 10%; }

#yourMessage {
  margin-top: 50px;
  width: 92.4vh;
  height: 25vh; }

.main_contact {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%; }

h2 {
  margin-left: 7%; }

.contact_h2 {
  margin-left: 0%; }

#home_about_info_contact1 img {
  width: 20px;
  height: 20px; }
#home_about_info_contact1 .home_mail, #home_about_info_contact1 .home_location {
  padding-top: 100px; }

nav {
  background: #f9f9f9;
  color: darkgray;
  font-weight: 500;
  padding: 1em 0;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0%; }
  nav .container {
    max-width: 800px;
    margin: auto;
    display: flex; }
    nav .container a:hover {
      color: #ee534f; }
  nav .home_logo {
    width: 15%;
    height: 15%; }
  nav ul {
    display: flex;
    width: 100%; }
    nav ul li {
      margin: 0 2em 0 0;
      list-style-type: none; }
  nav input[type=text] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    margin: .75em 0 .75em 10em;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #dedede;
    background: none;
    padding: 0 1em; }
  nav input[type=submit] {
    width: 4em;
    margin: .75em 0;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #dedede;
    border-left: none;
    background: none;
    padding: 0 1em; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #ee534f;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

html {
  scroll-behavior: smooth; }

footer {
  font-size: 1.25em;
  display: flex;
  background: #f9f9f9;
  padding: 4em 0; }
  footer .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 1240px;
    margin: 0 auto; }
    footer .container .heading {
      color: #555;
      font-weight: 500; }
    footer .container ul {
      padding-left: 1.2em; }
      footer .container ul li {
        list-style-type: square; }
      footer .container ul a {
        text-decoration: none;
        color: #555; }
        footer .container ul a:hover {
          color: #ee534f; }

.copy {
  background: #ee534f;
  color: #fff; }
  .copy .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    margin: 0%; }

.footer_link {
  margin-left: 68%; }

.rights {
  width: 15%;
  margin: 0; }

.banner_contact {
  background: #f9f9f9;
  max-width: 1920px;
  height: 320px;
  padding: 100px; }

.course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
  border-color: hotpink;
  height: 100vh; }

.main_cart .course_det {
  border: 3px solid black; }

footer {
  font-size: 1.25em;
  display: flex;
  background: #f9f9f9;
  padding: 4em 0; }
  footer .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 1240px;
    margin: 0 auto; }
    footer .container .heading {
      color: #555;
      font-weight: 500; }
    footer .container ul {
      padding-left: 1.2em; }
      footer .container ul li {
        list-style-type: square; }
      footer .container ul a {
        text-decoration: none;
        color: #555; }
        footer .container ul a:hover {
          color: #ee534f; }

.copy {
  background: #ee534f;
  color: #fff; }
  .copy .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    margin: 0%; }

.footer_link {
  margin-left: 68%; }

.rights {
  width: 15%;
  margin: 0; }

button {
  padding: 1em 2em;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 .35em; }

.banner_home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: url("../images/code4ct_homepage.jpg") #00000088;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  .banner_home button {
    color: #fff; }
  .banner_home .container {
    max-width: 900px;
    text-align: center;
    padding: 0; }
    .banner_home .container h1 {
      font-size: 3.5em;
      color: #fff; }
    .banner_home .container p {
      padding: 0 4em;
      color: #fff;
      font-size: 1.25em; }
  .banner_home .call {
    margin: 1em auto; }
    .banner_home .call .primary {
      background: #ee534f;
      border-color: #ee534f; }

.info {
  font-size: 1.2em;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5em 0; }
  .info .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em; }
  .info .sub {
    font-weight: 500; }
  .info .print {
    color: #666; }
  .info button {
    font-size: 1em;
    border-color: #ddd;
    color: #666; }
  .info .description {
    margin-bottom: 5em; }

.figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }
  .figures .figure_1 {
    background-image: url("../images/portfolio_img18.jpg");
    background-size: cover; }
  .figures .figure_2 {
    background-image: url("../images/info_img2.jpg");
    background-size: cover; }
  .figures .figure_3 {
    background-image: url("../images/info_img3.jpg");
    background-size: cover; }
  .figures .figure_4 {
    background-image: url("../images/info_img4.jpg");
    background-size: cover; }
  .figures .exciting_1 {
    background-image: url("../images/portfolio_img1.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_2 {
    background-image: url("../images/portfolio_img2.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_3 {
    background-image: url("../images/portfolio_img3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%; }
  .figures .exciting_4 {
    background-image: url("../images/portfolio_img4.jpg");
    background-size: cover;
    width: 100%;
    height: 200px; }
  .figures .exciting_5 {
    background-image: url("../images/portfolio_img5.jpg");
    background-size: cover; }

.rect {
  background: #000;
  color: #fff; }
  .rect .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center; }
    .rect .container img {
      width: 3em; }

.rect_1 {
  background-color: #000;
  display: flex;
  margin-top: 5%;
  overflow: hidden; }

.rect_1 img {
  align-content: space-around;
  width: 100%;
  width: 100%;
  animation-name: carousel;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  left: 100%; }

@keyframes carousel {
  100% {
    position: relative;
    left: -5000px; } }
.team_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em; }
  .team_grid div {
    width: 100%;
    min-height: 200px;
    height: 100%; }
  .team_grid .face_1 {
    background-image: url("../images/Emma.jpg");
    background-size: cover;
    height: 50%; }
  .team_grid .face_2 {
    background-image: url("../images/Tegan.jpg");
    background-size: cover;
    height: 50%; }
  .team_grid .face_3 {
    background-image: url("../images/Tracy.jpg");
    background-size: cover;
    height: 50%; }
  .team_grid .face_4 {
    background-image: url("../images/Andrea.jpg");
    background-size: cover;
    height: 50%; }
  .team_grid .tag {
    font-size: .9em; }
    .team_grid .tag h2, .team_grid .tag h3 {
      font-size: 1.25em;
      margin: 0; }
    .team_grid .tag h3 {
      font-size: 1.2em;
      color: #666;
      font-weight: 400; }
    .team_grid .tag hr {
      border: none;
      height: 1px;
      background: #ddd; }
    .team_grid .tag p {
      margin: .5em auto;
      color: #666; }

.subscribe {
  text-align: center;
  padding: 5em 0; }
  .subscribe input[type=text] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    background: #f9f9f9;
    padding: .5em 1em; }
  .subscribe input[type=submit] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    border-left: none;
    background: #ee534f;
    padding: .5em 1em; }

.count_up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #e8e8e8;
  height: 300px; }

.red_line_fade .fade {
  height: 5px;
  width: 138.5px;
  background-color: #545454;
  opacity: 0.3; }

.count_up .red_line_fade .red_line {
  height: 6px;
  width: 30px;
  background-color: #e38f84; }

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.galleryContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.galleryContainer3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.gallery {
  margin-left: 20px; }
  .gallery img {
    width: 100%;
    height: 100%;
    transition: opacity .3s linear;
    background-size: contain; }
  .gallery img:hover {
    transform: scale(1.1); }

/*# sourceMappingURL=main.css.map */
