footer {
    font-size: 1.25em;
    display: flex;
    background: $lightGrey;
    padding: 4em 0;
    .container {
        display: grid;
        grid-template-columns: 1.5fr repeat(3, 1fr);
        grid-gap: 1em;
        max-width: 1240px;
        margin: 0 auto;
        .heading {
            color: #555;
            font-weight: 500;
        }
        ul {
            padding-left: 1.2em;
            li {
                list-style-type: square;
            }
            a {
                text-decoration: none;
                color: #555;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
.copy {
    background: $primary;
    color: #fff;
    // padding: .5em 0;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // max-width: 1024px;
        margin: 0% ;
    }
}